<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/inscription.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1>Inscription</h1>
        <form>
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="E-mail" required>

            <label for="username">Pseudonyme</label>
            <input type="text" id="username" placeholder="Pseudonyme" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" placeholder="Mot de passe" required>

            <button type="submit">S'inscrire</button>
        </form>
        <p>Déjà inscrit ? <a href="/connexion">Connectez vous ici</a></p>
    </div>
    <div class="image-container">
        <img src="/img/aqua2.png" alt="Character Image">
    </div>
</div>
</body>
</html>
