<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des animé</title>
    <link rel="stylesheet" href="/css/mainpage.css">
</head>
<body>
<!-- TODO: UTILISER CELA POUR AFFICHER MENU AJOUT ANIME SI ON EST ADMIN
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>
-->
<div class="hidder" id="hidder">
    <div class="opacityscreen"></div>
    <div class="addanime">
        <img src="/img/aqua3.png" alt="aqua3" class="imghidder">
        <form class="formdiv">
            <div class="formdiv2">
                <div class="containinputs">
                    <div class="container2">
                        <p>Titre</p>
                        <label for="input-title">
                            <input class="input" id="input-title" name="input-title" placeholder="Saisir le nom de l'anime"/>
                        </label>
                    </div>
                    <div class="container2">
                        <p>Genre</p>
                        <label for="input-genre">
                            <input class="input" id="input-genre" name="input-genre" placeholder="Saisir le genre de l'anime"/>
                        </label>
                    </div>
                </div>
                <div class="containinputs">
                    <div class="container2">
                        <p>Année</p>
                        <label for="input-year">
                            <input class="input" id="input-year" name="input-year" placeholder="Saisir son année de sortie"/>
                        </label>
                    </div>
                    <div class="container2">
                        <p>Studio</p>
                        <label for="input-studio">
                            <input class="input" id="input-studio" name="input-studio" placeholder="Saisir le studio créateur"/>
                        </label>
                    </div>
                </div>
                <div class="formbuttons">
                    <input type="file" id="input-img" name="input-img" accept="image/jpeg" class="button1" style="display: none;">
                    <label for="input-img" class="button1">
                        <img src="/img/plusicon.png" class="imgplus">
                    </label>
                    <div class="formbuttons2">
                        <button>Supprimer</button>
                        <button>Envoyer</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="rightsquare"></div>
        <div class="cross">
            <button class="crossbtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<header>
    <div class="header-container">
        <img src="/img/logo.png" alt="Logo" class="logo">
        <div class="button-container">
            <button class="header-button" id="showHidderButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
            <button class="header-button" id="toggleButton">
                <div th:if="${#authentication}">
                    <img th:src="${#authentication.principal.attributes['avatar_url']}" alt="User Avatar">
                </div>
                <div th:unless="${#authentication}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM8 9a5 5 0 0 0-5 5v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a5 5 0 0 0-5-5z"/>
                    </svg>
                </div>
            </button>
        </div>
    </div>
    <div class="bar1"></div>
    <div class="burgerhider height-zero" id="burgerhider"></div>
    <div class="burger height-zero" id="burger">
        <button class="burgerbutton" id="burgerbutton1">
            <div class="burgerbutton2">
                <div th:if="${#authentication}">
                    <p th:text="${#authentication.principal.attributes['login']}"></p>
                </div>
                <div th:unless="${#authentication}">
                    <p>Connecté en mode anonyme</p>
                </div>
            </div>
        </button>
        <button class="burgerbutton" id="burgerbutton2">
            <div class="burgerbutton2 underline" >
                <h4 th:href="@{/logout}">Me déconnecter de Listanime</h4> <!-- TODO: Logout ne marche pas, CORRIGER! -->
            </div>
        </button>
        <button class="burgerbutton" id="burgerbutton3">
            <div class="burgerbutton2 underline">
                <h4>Rétracter le menu déroulant</h4>
            </div>
        </button>
    </div>
</header>
<section class="animelist">
    <div class="animelistdiv">
        <div class="centerlist">
            <!-- Ici se trouveront les animés :D -->
            <div th:each="anime, stat : ${animes}" class="animebg" onclick="toggleMenu()">
                <img alt="animeimg" th:src="'data:image/png;base64,'+${imagesBase64[stat.index]}" class="cardimg">
                <img alt="card" src="/img/card.PNG" class="card">
                <h1 th:text="${anime.name}" class="text"></h1>
            </div>
        </div>
    </div>
</section>

<script src="/js/mainpage.js"></script>

</body>
</html>
